@{
    ViewBag.Title = "Email";
}
<h2>@ViewBag.Title</h2>

<h4>Sample email</h4>
   
<div class="btn">
    @Html.ActionLink("Send Email ✉", "SendEmail", "Email", null, new { @class = "btn btn-warning btn-lg" })
</div>