@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BloodDrop</h1>
    @Html.ActionLink("Zostań dawcą", "Create", "Donor" , null , new { @class = "btn btn-primary btn-lg" })

</div>
